
/* 
    Created on : 20/04/2018, 11:05:51
    Author     : aleex
*/


#buscar {
    width: 500px;
    height: 30px;
}
.form{
    text-align: center;
    margin-top: 10%;
    position: absolute;
    left: 30%;
}

footer {
    position:fixed;
    left:0px;
    bottom:10px;
    height:40px;
    width:100%;
    background-color: orange;
    color: white;
    text-align: center;
    padding: 1em;
}
.title {
    font-size: 500%;
    
}